.footer-container{
    background-color: #3e2723;
    color: white;
}
.social-media .icon{
    color: white;
    font-size: 25px;
    margin: 0px 10px 10px 0px;
}
.logo-footer{
    font-family: 'Lobster', cursive;
    font-size: 30px;
    color: white;
    margin-left: 10px;
}
.logo-footer img{
    width: 30px;
}