html, body {
  max-width: 100%;
  overflow-x: hidden;
  margin: 0px;
  padding: 0px;
  background-color: #efebe9;
  font-family: 'Josefin Sans', sans-serif;
}
.primaryColor{
  background-color: #bcaaa4;
}
.fontColor{
  color: #3e2723;
}
.customBtn{
  display: inline-block;
  background-color: #3e2723;
  color: white;
  border: none;
  padding: 10px 10px;
  border-radius: 5px;
  vertical-align: middle;
}
.customBtn:hover{
  display: inline-block;
  background: #3e2723;
  background: radial-gradient(ellipse at center, #564036 0%, #3E2723 100%);
  color: white;
  border: none;
  padding: 10px 10px;
  border-radius: 5px;
  vertical-align: middle;
}
.customBtnOutline{
  background: none;
  border: 2px solid #3e2723;
  color: #3e2723;
  padding: 5px 10px;
  border-radius: 5px;
  vertical-align: middle;
}
.customBtnOutline:hover{
  background: #3e2723;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  vertical-align: middle;
}
.card-shadow{
  box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.1);
}
