.adminDashboard{
    background-color: #3e2723;
    position: static;
}
.dashboardLink:focus,
.dashboardLink:hover,
.dashboardLink:visited,
.dashboardLink:link,
.dashboardLink:active {
    text-decoration: none;
    background-color: #bcaaa4;
    transition: 0.5s ease-in-out;
    color: #3e2723;
}
.dashboardLink{
    color: white;
    font-size: 3.5vw;
    text-align: center;
    margin: 15px 0px;
    cursor: pointer;
    padding: 5px;
}
.dashboardLink > img {
    width: 3vw;
    margin-right: 10px;
    cursor: pointer;
}
.adminTitle{
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 10px;
    background-color: #3e2723;
    color: white;
}

@media (min-width: 768px) {
    .adminDashboard{
        background-color: #3e2723;
        width: 25%;
        height: 100vh;
        position: fixed;
        overflow: auto;
    }
    .dashboardLink{
        color: white;
        font-size: 1.7vw;
        text-align: center;
        margin: 10px 0px;
        padding-left: 5px;
        cursor: pointer;
        width: 100%;
        text-align: left;
    }
    .dashboardLink > img {
        width: 1.5vw;
        margin-right: 10px;
        cursor: pointer;
    }
}